/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@keyframes pulse {
	0% {
		transform: scale(0.97);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(0.97);
	}
} 

@keyframes pulse2 {
	0% {
	}
	50% {
		color:#B1663C;
	}
	100% {
	}
} 



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;	
}
main {
	margin: 90px;
}
a{
	text-decoration: none;
	color: black
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
#link-login{
	animation: pulse2 3300ms infinite;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.nav-links:hover, li:hover {
	color: #B1663C;
	cursor: pointer;
}
nav ul li img{
	transition: 300ms ease-out;
}
nav ul li img:hover{
	transform: scale(1.05);
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}

/*Ajout des filtres en CSS*/
.filters{
	margin-top: 65px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filters__btn{
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	height: 37px;
	flex-shrink: 1;
	box-sizing: border-box;
}

.filters__btn:focus{
	color: white;
	background-color: #1D6154;
}
.all{
	width: 100px;
}

.objects{
	width: 100px;
}

.flats{
	width: 157px;
}

.hotels{
	width: 198px;
}

.gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modal-gallery__eraser{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: 100px;
	grid-column-gap: 8px;
	row-gap: 20px;
	padding: 8px;
	box-sizing: border-box;
}
.modal-gallery__eraser img + i{
	position: absolute;
	color: white;
	font-size: 11px;
	background: black;
	width:17px;
	height:17px;
	border-radius: 2px;
	padding:3px;
	transform: translateX(-25px) translateY(7px);
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}
.gallery img{
	width: 100%;
	position: relative;

}
.modal-gallery__eraser img{
	width: 100%;
}

#contact{
	width: 50%;
	margin: auto;
}
#contact > * , #login-section > *{
	text-align: center;

}
#contact h2, #login-section h2{
	margin-bottom: 20px;
}
#contact form, #login-section form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login-section input, #modal-send-form select{
	height: 50px;
	font-size: 1.1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Work Sans";
	box-sizing: border-box;
}

#modal-send-form .modal-send__form-container--title, #modal-send-form .modal-send__form-container--category, #modal-send-form .modal-send__form-container--description{
	height: 50px;
	font-size: 1.1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Work Sans";
	box-sizing: border-box;
	padding: 15px;
}

#modal-send-form .modal-send__form-container--category{
	border-right: 30px solid white;
}

#contact label, #login-section label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.forgotten{
	text-align: center;
	text-decoration: underline;
}

#login-section{
	transform: scale(0);
	visibility: hidden;
	transition: 300ms ease-out;
	width:50%;
	margin:auto;
	margin-bottom: 300px;
	position: absolute;
}

#login-section.active {
	visibility: visible;
	transform: scale(1);
	transition: 300ms ease-out;
	position: relative;
  }

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.error-msg{
	display: block;
	color: red;
}

/*** connected user page ***/

.edit-section{
	background-color: black;
	color: white;
	height: 70px;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
}
.edit-section p{
	font-size: 12px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;

}

.projects-title{
	position: relative;
	width: 200px;
	margin: auto;
	text-align: center;
}

.modify-btn{
	color: black;
	position: absolute;
	top: 4px;
	left: 220px;
	cursor: pointer;
	width: 20px;
	animation: pulse 2300ms infinite
}

#modal{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 200ms ease-in;
	transform: scale(0);
	opacity: 0;
}

.modal-wrapper{
	height: 530px;
	width: 588px;
	background-color: white;
	border-radius: 10px;
	padding: 20px;

}

.xmark-container{
	display: flex;
	justify-content: space-between;

	
}
.xmark-container .fa-xmark{
	cursor: pointer;
	font-size: 24px;
	padding: 5px;
}

.xmark-container .fa-arrow-left{
	cursor: pointer;
	font-size: 24px;
	padding: 5px;
	opacity: 0;
}

#modal-title, #modal-title-add{
	text-align: center;
	font-size: 26px;
}

#modal-gallery{
	width: 420px;
	height: 515px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
	gap: 5px;
	opacity: 1;
	transform: scale(1);
}

.btn-container, .upload-btn-container{
	border-top: 1px solid #B3B3B3;
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-container button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 235px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	height: 35px;
	cursor: pointer;
}

.modal, .img-added-confirmation{
	display: none;
	position: fixed; 
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.0); 
  }
  
  .modal-content{
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	width: 80%; 
	height: 30%;
	display: flex;
	align-items: center; 
	justify-content: space-evenly; 
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
}
.img-added-confirmation__content{
	background-color: #fefefe;
	padding: 30px;
	width: 60%; 
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;  
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	background-color: #1D6154;
}
.img-added-confirmation__content p{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	color: white;
}

.img-added-confirmation__content .fa-file-image{
	font-weight: 700;
	font-size: 30px;
	color: white;
}

.modal-content button{
	font-family: 'Syne';
	font-weight: 400;
	color: white;
	background-color: #1D6154;
	width: 30%;
	text-align: center;
	border-radius: 25px;
	border: none;
	height: 25px;
	cursor: pointer;
	margin-right: 10px;
}

#modal-send{
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
	width: 420px;
	height: 515px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
	margin-top: 3px;
	gap: 5px;
}

#modal-send-form{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	height: 473px;
	justify-content: space-between;
}

.modal-send-form__inputs{
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-evenly;
	box-sizing: border-box;
}

.image-upload-label__container{
	margin-top: 20px;
	width: 420px;
	height: 130px;
	flex-shrink: 0;
	border-radius: 3px;
	background: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}
#passwordInput{
	margin-bottom: 40px;
}
.login-btn{
	cursor: pointer;
	animation: pulse 2300ms infinite;
}

.image-upload-label__container i{
	color: #B3B3B3;
	font-size: 45px;
}
.image-upload-label__container .image-upload-label__container--btn{
	width: 160px;
	height: 30px;
	flex-shrink: 0;
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	text-align: center;
	font-family: "Work Sans";
	font-size: 13px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.image-upload-label__container .image-upload-label__container--text{
	color: #444;
	text-align: center;
	font-family: "Work Sans";
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.modal-send__form-container--title-label, .modal-send__form-container--category-label{
	margin: 1.3em 0 0.7em 0;
}

.upload-btn-container #submit-image-upload-btn{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 235px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	height: 35px;
	cursor: not-allowed;
	border-radius: 60px;
	background-color: #A7A7A7;
}

.style-for-image-preview{
	width: 95px;
	height: 130px;
	position: absolute;
	object-fit: cover;
}


@media screen and (max-width: 998px){
	#introduction {
		flex-direction: column;
		gap: 40px;
	}
	#introduction h2 {
 		text-align: center;	
	}
	#introduction p {
		text-align: center;
	}
	.modify-btn{
		color: black;
		position: absolute;
		top: 40px;
		left: 75px;
		cursor: pointer;
		width: 20px;
		animation: pulse 2300ms infinite
	}
	
	.filters__btn{
		font-size: 14px;
		font-weight: 700;
		border-radius: 60px;
		border: 1px solid #1D6154;
		height: 35px;
	}
	
	.gallery{
		grid-template-columns: 1fr 1fr;
	}
	#contact{
		width: 80%;
	}
	#login-section{
		width: 80%;
	}
	.modal-wrapper{
		width: 500px;
	
	}
}

@media screen and (max-width: 600px){
	header{
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	 header nav{
		width: 100%;
	}
	nav ul li img{
		width: 25px;
	}
	header nav ul{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	nav li {
		padding: 0 10px;
		font-size: 1.1em;
	}
	main {
		margin: 15px;
	}
	.modify-btn{
		top: 37px;
		left: 76px;
		cursor: pointer;
	}
	.filters{
		flex-wrap:wrap;
		-ms-flex-align: center;
	}

	.filters__btn{
		font-size: 13px;
		font-weight: 600;
		border-radius: 50px;
		border: 1px solid #1D6154;
		height: 24px;
	}
	.gallery{
		grid-template-columns: 1fr;
	}
	#contact{
		width: 90%;
	}
	#login-section{
		width: 90%;
	}
	.modal-wrapper{
		height: 530px;
		width: 250px;
		background-color: white;
		border-radius: 10px;
		padding: 20px;
	
	}
	#modal-gallery{
		width: 230px;
	}
	#modal-send{
		width: 230px;
	}
	.image-upload-label__container{
		width: 230px;
	}
	.modal-gallery__eraser{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 80px;
		gap: 8px;
		padding: 8px;
		box-sizing: border-box;
		align-items: start;
	}
	.modal-gallery__eraser > * {
		height: 80px;
	}
	.modal-gallery__eraser img {
		height: 100%;
	}
	.img-added-confirmation__content p{
		font-family: 'Syne';
		font-weight: 400;
		font-size: 12px;
		text-align: center;
		color: white;
	}

}